@{
    ViewData["Title"] = "Games";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br />
<ul>
    <li>
        <h4>SKINS: 2-4 Players</h4>
        <p>
            Concept: Each hole has an initial value of 1 skin. A skin can be a wash and carried over to the following hole to raise the initial value of the next hole. To win a hole a player must have a lower score than all other players in the game for that hole. The hole must also be won with a par or better. If two or more players share the lowest score from the hole than the total amount of skins for that hole is added to the next hole.

            Birdies are worth double(2x) the value of skins for the hole, eagles triple and so forth.
        </p><br />
    </li>
    <li>
        <h4>ROUND RONIN: 4 Players</h4>
        <p>
            Concept: Players will rotate teams every third of a round(3 holes for 9, 6 for 18). This ensures each player has played with each other player as a teammate.

            Example: Players A,B,C,D - 18 hole round
            Holes 1-6 are team (A,B) vs (C,D)
            Holes 7-12 are team (A,C) vs (B,D)
            Holes 13-18 are team (A,D) vs (B,C)
        </p><br />
    </li>
    <li>
        <h4>NASAU: 2-4 Players</h4>
        <p>
            Concept: Money is wagered on the best match play score in the front nine (holes 1–9), back nine (holes 10–18), and total 18 holes. 
        </p><br />
    </li>
</ul>