@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h4>If there are any questions or concerns regarding how the site works, feel free to email me at any time. I am also open to any suggestions. Thanks again!</h4>

<address>
    <strong>Nicholas Bommer:</strong> <a href="mailto:ncbommer@gmail.com">ncbommer@gmail.com</a><br />
</address>
